.heading {
  text-align: center;
}
.btn {
  background-color: rgb(0, 157, 255);
  color: white;
  display: block;
  margin: 0 auto; 
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(59, 168, 236);
}
.img {
  width: 80%;
}
.list-img {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.item-img {
  width: 50%;
  text-align: center;
}
